@import "tailwindcss";
@source "../components/";

@layer base {
  @media (prefers-color-scheme: light) {
    ::selection {
      background-color: var(--color-stone-300);
      color: var(--color-stone-700);
    }
  }

  @media (prefers-color-scheme: dark) {
    ::selection {
      background-color: var(--color-stone-700);
      color: var(--color-stone-400);
    }
  }
}
