@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  html {
    scroll-snap-type: y mandatory;
    @apply text-offWhite;
  }

  * {
    @apply focus:outline-none focus:ring-2 focus:ring-greyBlue;
  }

  ::selection {
    @apply bg-greyBlue;
  }

  ::placeholder {
    @apply text-darkblue opacity-100;
  }

  ::-webkit-input-placeholder {
    @apply text-darkblue;
  }

  a {
    @apply text-yellow hover:text-offWhite transition-colors duration-300 font-mono cursor-pointer;
  }

  input:-webkit-autofill,
  input:-webkit-autofill:focus {
    transition: background-color 600000s 0s, color 600000s 0s;
  }
}
