@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  html {
    @apply text-offWhite;
  }

  * {
    @apply selection:bg-greyBlue selection:text-yellow;
  }

  @supports not selector(:focus-visible) {
    * {
      @apply focus:outline-none focus:ring-2 focus:ring-greyBlue/70 focus:ring-offset-4 focus:ring-offset-darkerBlue;
    }
  }

  @supports selector(:focus-visible) {
    * {
      @apply focus-visible:outline-none focus-visible:ring-2 focus-visible:ring-greyBlue/70 focus-visible:ring-offset-4 focus-visible:ring-offset-darkerBlue;
    }
  }

  a {
    @apply text-yellow hover:text-offWhite transition-colors duration-300 font-mono cursor-pointer rounded-lg;
  }

  input:-webkit-autofill {
    -webkit-background-clip: text;
    -webkit-text-fill-color: #ffd484 !important;
  }

  input:-webkit-autofill:focus,
  input:-webkit-autofill:active {
    -webkit-box-shadow: 0 0 0 30px #1b222d inset !important;
    -webkit-text-fill-color: white !important;
  }

  input::-webkit-contacts-auto-fill-button {
    @apply bg-offWhite hover:bg-greyBlue transition-all duration-300;
  }
}
